@import '../../../styles/variables.scss';

.team-item{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(41, 41, 138, 0.493);
    border-radius: 1px;
    color: white;
    margin-top: 10px;
    font-weight: 500;
    img{
        width: 50px;
        height: auto;
        border-radius: 50%;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
    }
    .name{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        font-family: $team-font;
    }

    &:hover{
        background-color: rgba(41, 41, 138, 0.26);
        font-weight: 400;
    }
}