@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.team-item{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(41, 41, 138, 0.493);
    border-radius: 1px;
    color: white;
    margin-top: 10px;
    font-weight: 500;
    transition: padding-left ease-in 100ms;
    
    img{
    @include logo();
    }
    .name{
    @include teamName();    
    letter-spacing: 2px;
    }

    &:hover{
        background-color: rgba(41, 41, 138, 0.26);
        font-weight: 400;
        padding-left: 20px;
    }
}