@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.top-teams-card{
    @include card();
    padding: 6px;
    margin: 30px 50px 100px 50px;
    @include flex-center(column);
    
    h1{
        color: rgb(82, 82, 82);
        margin: 0;
        padding: 0;
    }
    p{
        margin:0;
        padding:0;
    }
}

.top-teams-list{
   
    width: 300px;
    padding: 0;
    li{
        width: 100%;
        @include flex-between();    
        padding: 1px 6px;
  
        img{
            @include logo(30px);
        }
        .name{
            @include teamName();
        }
        .button{
            width: 10px;
            height: 10px;
            background-color: aquamarine;
            transition: transform 200ms ease-in;
            transform: rotate(0deg);
            cursor: pointer;
            &:hover{
                transform: rotate(90deg);
            }
        }
        &:hover{
            background-color: rgb(226, 226, 226);
        }
    }
}
.button{
@include iconButton(40px);
color: rgb(82, 82, 82);
    transform: scale(1);
    cursor: pointer;
    &:hover{
        background-color: rgb(192, 192, 192);
        transform: scale(1.5);
    }
}