@import "../../../styles/mixins.scss";

.main-container{
    width: 100vw;
    height: 100vh;
@include flex-center();    
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}